*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    padding: 10px;
}
.topics{
    padding: 10px;
}
.topics__nav{
    display:flex;
    flex-direction: column;
}
.welcome{
    padding: 10px;
}
@media screen and (min-width:1000px){
    .container{
        width: 85%;
        max-width: 1400px;
        min-width:1000px;
        margin: 15px auto;
    }

.main-content__post {
    padding: 10px;
}

.post__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post__submit {
    margin: 10px;
    padding: 5px;
}

.bottom__box {
    display: flex;
    align-items: flex-end;
}

.hashtag__submit {
    margin: 10px;
    padding: 5px;
}

.main-content__hashtag {
    padding: 10px;
}

.main-content__hashtags {
    padding: 10px;
}

.main-content__addHashtag {
    padding: 10px;
}

.main-content__topic {
    padding: 10px;
}

.main-content__newPost {
    padding: 10px;
}

}